/*font*/
@font-face{
	font-family: 'bellerose';
	src: url('../fonts/Bellerose.ttf') format('truetype');
}
@font-face{
	font-family: 'opera';
	src: url('../fonts/Opera-Demo.otf') format('truetype');
}

*{
	box-sizing: border-box;
}
.headerLogo{
	background-color: #4E7FA4;
	vertical-align: middle;
	display: inline-block;
}
.logoo{
	max-width: 20%;
	max-height: auto;
	padding: 10px;
	margin-left: 40px;
}

/*sidebar*/
.sidenav {
  height:197.5%;
  width: 250px;
  position: absolute;
  scroll-behavior: unset;
  background-color: #304249;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 50px;
}

.sidenav a {
  padding: 3px 8px 8px 22px;
  text-decoration: none;
  font-size: 25px;
  font-family: opera;
  color: white;
  display: block;
  transition: 0.3s; 
}

.sidenav a:hover {
  color: tomato;
}
li{
	color: white;
	font-size: 20px;
	margin-left: 10px;
}
li:hover{
	color: tomato;
}

.openbtn {
	font-size:30px; 
	cursor:pointer;
	color:tomato;
	margin-left:10px;
	font-family: opera;
}
.sidenav .closebtn {
  position: absolute;
  margin-top: -15px;
  top: 0;
  right: 15px;
  font-size: 40px;
  margin-left: 50px;
  font-family: bellerose;
}
.col-md-2{
	margin-left: -15px;
}

/*form*/
form{
	max-height: 100%;
	max-width: 40%;
	margin-top: 40px;
	margin-left: 60px;
}
h1{
	font-family: opera;
	color: #304249;
}
.form-control{
	border-color:#304249;
	border-width: 2px;
}
.btn{
	background-color: #304249;
	color: white;
}
.btn:hover{color: tomato;}
/*responsive*/
@media only screen and (min-width: 768px) and (max-width: 991px){

}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .logoo{max-width: 60%; min-width: 60%;}
  .sidenav {height: 1540%;width: 190px;}
  .sidenav a {font-size: 20px;margin-left: -15px;}
  .sidenav .closebtn {margin-top: -10px;}
  h1{font-size: 40px;}
  form{margin-left: 250px;margin-top: -2px;}
}